Variables In Python:
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

In [1]:
a=100

In [3]:
#Declaring and assigning a variable.
age=31
height=5.10
name='Najeeb'
is_student=True
#Printing the variables
print("age:",age)
print("height:",height)
print("name:",name)
print("is_student:",is_student)

age: 31
height: 5.1
name: Najeeb
is_student: True

In [4]:
#Naming convention.
#Variable name should be descriptive
#They must always start with a letter or _ underscore and contain letters, numbers and underscore
#Variables names are case sensitive

#valid_variable
first_name="Najeebuddin"
last_name="MOHD"

In [7]:
#Invalid variable
#2age=31
#first-name='Najeeb'
#@name='Najeeb'

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3266324266.py, line 4)

In [12]:
#Case Sensitivity
name='Najeeb'
Name='MOHD'
name==Name

False

In [14]:
#Understanding Variable types:
#Python is dynamically typed means type of variable is determined at runtime
age=31 #int
height=5.10 #float
name='Najeeb' #str
is_student=True #bool
print(type(name))

<class 'str'>

In [15]:
#Type checking and conversion:
type(height) #float

float

In [16]:
#Type conversion:
age=25
print(type(age)) 
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [18]:
age='25'
int(age)
print(type(int(age)))

<class 'int'>

In [19]:
name='Najeeb'
int(name)

ValueError: invalid literal for int() with base 10: 'Najeeb'

In [20]:
height=5.11
type(height)

float

In [21]:
int(height)

5

In [23]:
float(int(height))

5.0

In [24]:
#Dynamic Typing
#Python allows the type of a variable to change as the program executes.
var=10 #int
print(var, type(var))

var="Hello"
print(var, type(var))

var=3.24
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.24 <class 'float'>

In [26]:
##input
age=input("What is the age")
print(age, type(age))

23 <class 'str'>

In [27]:
#Simple Calculator
num1 = float(input("Enter first number"))
num2 = float(input("Enter Second Number"))
sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2 

print("Sum:",sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 158.0
Difference: -20.0
Product: 6141.0
Quotient: 0.7752808988764045